*{
    margin:0;
    padding:0;
    
}

.parent1{
    display: flex;
    background-color: #2C3E50;
    height:80px;
    justify-content: center;
    align-items: center;
    color:white;
    
}

.second_child_parent1{
    display:flex;
    
}

.first_child_parent1{
   justify-content: left;
   padding-right: 520px;
   padding-left: -100px;
   font-weight: bold;
   font-size: x-large;
   letter-spacing: .5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navpar{
   padding-left: 25px;
   font-weight: bold;
   font-size: medium;
   letter-spacing: .5px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}


.parent2{
    height: 500px;
    background-color: #1ABC9C;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  color:white
  
}

.first_child_parent2 h1{
    font-weight: bold;
    font-size:50px;
    letter-spacing: 1.3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    padding-top: 26px;
    padding-bottom: 38px;;
   
}

.first_child_parent2 p{
   
    letter-spacing: .2px;
    font-size: 20px;

    padding-top: 26px;
    padding-bottom: 50px;;
   
}

.parent3{
    
   text-align: center;
}

.second_child_parent3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.img {
    margin-right:35px;;
    margin-bottom: 30px;
}

.img img{
    border-radius: 10px;
}

.first_img  {
    margin-left: 175px;
     
}

.last_img{
    margin-right: 210px;;
}

.first_child_parent3{

    margin-top: 70px;
    font-size:large;
    margin-bottom: 60px;
    margin-left: -30px
}

.parent4{
    height:390px;
    background-color: #1ABC9C;
    text-align: center;
    
}


.second_child_parent4{

    display: flex;
    justify-content: center;
     
}


.second_child_parent4 p{

    color:white;
    width:320px;
    text-align: left;
    word-spacing: 5px;

    font-size: 17px;
     
}

.second_child_parent4{
    margin-top: 30px;
    margin-bottom: 35px;
}

.second_child_parent4_1st_p{
    margin-right: 15px;
 
}

.first_child_parent4{

    padding-top: 60px;
    color:white;
    font-size:x-large
}

.third_child_parent4 button{
    padding-left:25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    color:white;
    background-color: #1ABC9C;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    border-radius: 10px;;
}

button:hover {
    background-color: white;
    color:#2C3E50;
    
}
button:hover i{
    color:#2C3E50 
}


.parent5{
    background-color: white;
    height: 600px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.first_child_parent5 {

    color:#2C3E50;
    font-size: x-large;

}

.second_child_parent5{
    display:block;
    
}

input{
    width: 550px;
    height: 60px;
    margin-top: 30px;
    border: none;
    border-bottom: grey solid .4px;
}

textarea{
    width: 550px;
    height: 120px;
    margin-top: 30px; 
    border: none;
    border-bottom: grey solid .4px;
}

.send button { 
    background-color:#1ABC9C; 
   margin-left: -480px;
   margin-top: 26px;
   padding: 15px 20px;
   color:white;
   font-weight: bold;
   border-radius: 10px;
   border:none
}


.parent6{
    background-color: #2C3E50;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.first_child_parent6 h3{
    margin-bottom: 20px;
    font-size:25px
}

.first_child_parent6 {
    text-align: center;  
    margin-right: 150px;
    
}

.second_child_parent6 h3{
    margin-bottom: 20px;
    font-size:25px
}

.second_child_parent6{
    margin-right: 80px;
    text-align: center;
    i{
        border-color:white;
        border-style: solid;
        border-radius: 50%;
        border-width: 1px;
        padding: 11px;
        margin-right: 4px;
    }
}

.third_child_parent6 h3{
    margin-bottom: 20px;
    font-size:25px
}

.third_child_parent6{
     
    text-align: center;


    a{
        color:#1ABC9C;
         
    }
}


.parent7{
    text-align: center;
    height: 50px;
    color:white;
    font-size: small;
    
   
    background-color: #1A252F;
    p{
        padding-top:18px;
 
    };
}


 
 
 

 